<h1>What does the app do?</h1>

<p> Enter a decimal number in the textbox and submit. The app will check and display whether it is prime number or not. </p>

<p>
    <%= link_to "Back to the app", root_path %>
</p>